<h2>Door Alerts Admin</h2>
<p>
  <h4>Door opened for more than 2 Min.</h4>
  <p>Door: {{ door.mgr_doors_name }}</p>
  <p>Terminal: {{ door.terminal.mgr_terminal_name }}</p>
  <p>Location: {{ door.location.mgr_location_name }}</p>
  <!-- link to https://dooralerts.grainbulk.com -->
  <a href="https://dooralerts.grainbulk.com">Login to dashboard</a>
</p>
