<h1> Welcome Admin </h1>
<p>
 <p> Door opened for more than 30 secs. </p>
 <p> Door: {{ door.mgr_doors_name }}
 <p> Terminal:   {{ door.terminal.mgr_terminal_name }} </p>
 <p> Location: {{ door.location.mgr_location_name }} </p>
</p>
